<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>登录</title>
	<link rel="stylesheet" href="../static/auth.css">
</head>

<body>
	<div class="lowin lowin-red">
		<div class="lowin-brand">
			<img src="../static/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form method="post">
						<p>登录以继续</p>
						<div class="lowin-group">
							<label>用户名 </label>
							<input type="text" autocomplete="text" name="username" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>密码 </label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<button class="lowin-btn login-btn">
							登录
						</button>

						<div class="text-foot">
							人脸识别登录 <a href="/TurnToFaceHtml" class="register-link">此处</a>
						</div>
						{% for message in get_flashed_messages() %}
								{{ message }}
							{% endfor %}
					</form>
				</div>
			</div>

	</div>
	
</body>
</html>
